# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
virenv/
ENV/
env.bak/
venv.bak/

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Documentation
README.md
*.md

# Development files
docker-compose.override.yml
Dockerfile.dev

#other things i don't need
speec_to_text.py
data_processing